<h1>edit page</h1>

<%= form_for @comment do |f| %>
<%= f.text_field :content %>
<%= f.hidden_field :user_id, value: 1  %>
<%= f.hidden_field :fighter_id, value: @comment.fighter.id  %>
<%= f.submit  %>
<% end %>
